<i class="fa fa-star-o" 
	v-on="click: rateItem(1)"
	v-show="!active1"
	></i>
<i class="fa fa-star" 
	v-on="click: rateItem(1)"
	v-show="active1" 
	v-class="activeStar: active1"
	></i>

<i class="fa fa-star-o" 
	v-on="click: rateItem(2)"
	v-show="!active2"
	></i>
<i class="fa fa-star" 
	v-on="click: rateItem(2)"
	v-show="active2" 
	v-class="activeStar: active2"
	></i>

<i class="fa fa-star-o" 
	v-on="click: rateItem(3)"
	v-show="!active3"
	></i>
<i class="fa fa-star" 
	v-on="click: rateItem(3)"
	v-show="active3" 
	v-class="activeStar: active3"
	></i>

<i class="fa fa-star-o" 
	v-on="click: rateItem(4)"
	v-show="!active4"
	></i>
<i class="fa fa-star" 
	v-on="click: rateItem(4)"
	v-show="active4" 
	v-class="activeStar: active4"
	></i>

<i class="fa fa-star-o" 
	v-on="click: rateItem(5)"
	v-show="!active5"
	></i>
<i class="fa fa-star" 
	v-on="click: rateItem(5)"
	v-show="active5" 
	v-class="activeStar: active5"
	></i>